.cercle {
  margin: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cercle-animation {
  position: absolute;
  border-radius: 100%;
  animation: cercleTransition 21s infinite ease-in-out;
  pointer-events: none;
}

@keyframes cercleTransition {
  0% {
    background-color: $red;
    width: 535px;
    height: 535px;
  }
  32% {
    width: 535px;
    height: 535px;
  }
  33% {
    background-color: $red;
    width: 335px;
    height: 335px;
  }
  34% {
    background-color: $dark-blue;
    width: 2535px;
    height: 2535px;
  }
  35% {
    width: 535px;
    height: 535px;
  }
  65% {
    width: 535px;
    height: 535px;
  }
  66% {
    background-color: $dark-blue;
    width: 335px;
    height: 335px;
  }
  67% {
    background-color: $dark-green;
    width: 2535px;
    height: 2535px;
  }
  68% {
    width: 535px;
    height: 535px;
  }
  97% {
    width: 535px;
    height: 535px;
  }
  98% {
    width: 335px;
    height: 335px;
  }
  99% {
    background-color: $dark-green;
    width: 2535px;
    height: 2535px;
  }
  100% {
    background-color: $red;
    width: 535px;
    height: 535px;
  }
}

.cercle-logo {
  position: relative;
  width: 450px;
  transition: all 0.15s ease-in-out;
}

.cercle-bottle {
  position: absolute;
  width: 240px;
  height: 742px;
  scale: 0%;
  opacity: 0%;
  transition: all 0.15s ease-in-out;
  animation: bottleChange 21s infinite ease-in-out;
}

@keyframes bottleChange {
  0% {
    background-image: url(../img/blonde-trensparent-cercle.png);
  }
  33% {
    background-image: url(../img/blonde-trensparent-cercle.png);
  }
  34% {
    background-image: url(../img/brune-trensparent-cercle.png);
  }
  66% {
    background-image: url(../img/brune-trensparent-cercle.png);
  }
  67% {
    background-image: url(../img/ipa-trensparent-cercle.png);
  }
  98% {
    background-image: url(../img/ipa-trensparent-cercle.png);
  }
  99% {
    background-image: url(../img/blonde-trensparent-cercle.png);
  }
}

.cercle-text {
  position: absolute;
  border-radius: 100%;
  animation: turn 30s infinite linear;
}

@keyframes turn {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.cercle:hover {
  .cercle-bottle {
    scale: 100%;
    opacity: 100%;
    rotate: 30deg;
  }
  .cercle-logo {
    scale: 0%;
    opacity: 0%;
  }
}
