.menu-nbr-article {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 30px;
  left: 15px;
  color: $shadow;
  text-align: center;
  font-family: Archivo;
  font-size: 23px;
  background-color: #fff;
  border-radius: 100%;
  border: $shadow solid 2px;
}

.menu-button {
  color: #fff;
  text-shadow: -8px 0px 0px $shadow;
  font-size: 80px;
  rotate: -90deg;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 91vh;
  width: 0;
  margin: 40px 130px;
  left: -80;
  z-index: 2;
}

.menu-fill {
  height: 110px;
}

.menu-header {
  color: #fff;
  text-shadow: 4px 0px 0px var(--shadow, #172e27);
  font-size: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 91vh;
  margin: 40px 0;
  right: -100;
  z-index: 3;
  * {
    rotate: 90deg;
  }
}

.menu-langue {
  transform-origin: bottom;
  transform: translateY(26px) translateX(40px);
}

.menu-button:hover {
  color: $yellow;
  text-shadow: none;
  transform: translateX(-8px);
}

.menu-langue a:hover,
.menu-header a:hover {
  color: $yellow;
  text-shadow: none;
  transform: translateX(4px);
}
