$red: #c7133b;
$pink: #efcdd8;
$yellow: #fcc138;
$dark-blue: #251f4d;
$pastel-blue: #d3cae9;
$light-blue: 6BC3C4;
$dark-green: #204921;
$pastel-green: #d4e8d2;
$light-green: #9cc41b;
$shadow: #172e27;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  font-family: "Archivo Black";
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $shadow;
}

p {
  font-family: archivo;
  margin-bottom: 35px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  color: $shadow;
  font-family: "Archivo Black";
  font-size: 80px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
